.logo {
    content: url(../images/real.png);
    margin-top: 30px;
    height: 100px;
/*    padding-left: 38px;
*/}

#butt{
    border-radius: 4px !important;
    margin-right: 52px;
    margin-top: 59px;
    height: 40px;
    float: right;
    width: 172px;
    background-color: #ED262D;
    font-family: MuseoSansCyrl;
}
.navbar-inverse{
    border-radius: 0px;
    font-family: MuseoSansCyrl;
}
.navbar-inverse .navbar-nav > li.dropdown:hover > a, 
.navbar-inverse .navbar-nav > li.dropdown:hover > a:hover,
.navbar-inverse .navbar-nav > li.dropdown:hover > a:focus {
    background-color: #ED262D;
    color: #ffff;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ED262D;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #ED262D;
    color: #ffff !important;
    text-align: left;
}
.nav > li:hover {
    background-color: #ED262D !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ED262D;
    outline: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}
