@font-face {
    font-family: Museo;
    src: url(Museo100-Regular.otf);
    font-weight: 100;
    font-style: Regular;
}

@font-face {
    font-family: MuseoSansCyrl;
    src: url(MuseoSansCyrl-100.otf);
    font-weight: 100;
    font-style: Regular;
}